﻿@model IEnumerable<AsaNii.Models.Estate>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSouthern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Landlord)
            </th>
            <th> <a asp-action="Create" class="btn btn-outline-success">ثبت ملک</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSouthern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Landlord.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a class="text-danger ml-1 delete-link" data-delete-id="@item.Id" style="cursor: pointer">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("a.delete-link").click(function () {
                if (confirm('آیا برای حذف مطمن هستید؟ ')) {
                    var Id = $(this).attr('data-delete-id');
                    var url = "/Estates/Delete/" + Id;
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        success: function () {
                            alert("حذف با موفقیت انجام شد.");
                            location.href = location.href;
                        },
                        error: function () {
                            alert("حذف با موفقیت انجام نشد لطفا مجددا بررسی نمایید.");
                        }

                    });
                }
            });
        });
    </script>
}
